<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @stati.description %>
</p>


<% if @stati.user == current_user %>
<%= link_to 'Edit', statis_path %> | <% end %>
<%= link_to 'Back', statis_path %>
