<div class="jumbotron center">
	<h1>What's Your Status?</h1>
	
	Click here to <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
</div>

<div class="container">
<table class="table table-hover table-boardered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Distance</th>
        </tr>
      </thead>
      <tbody>
        <tr class="success">
          <td>Julian Sarokin</td>
          <td>Wow it's hot - beach?</td>
          <td>2 miles</td>
        </tr>
        <tr class="success">
          <td>Benjamin Tanner</td>
          <td>Anyone wanna talk?</td>
          <td>3 miles</td>
        </tr>
        <tr class="success">
          <td>Lacy Jones</td>
          <td>BEACH DAY!</td>
          <td>6 miles</td>
        </tr>
        <tr class="warning">
          <td>Kevin Jones</td>
          <td>Weeeeee!</td>
          <td>10 miles</td>
        </tr>
          <tr class="warning">
          <td>Grant Santo</td>
          <td>Good Morning Everyone!</td>
          <td>14 miles</td>
        </tr>
        <tr class="danger">
          <td>Devin Anderson</td>
          <td>Partyyyy</td>
          <td>25 miles</td>
        </tr>
      </tbody>
    </table>